<div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">
  
      <div class="input-group mb-3">
        <span class="input-group-text">Product Name</span>
        <input required type="text" class="form-control" [(ngModel)]="name">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Price</span>
        <input required type="number" step="0.01" class="form-control" [(ngModel)]="price" name="price">
      </div>
      
      <div *ngIf="price < 0" class="text-danger">
        Price must be a positive value.
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <input type="text" class="form-control" [(ngModel)]="description">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"> Product type</span>
        <select [(ngModel)]="type">
          <option value=0>Clothing</option>
          <option value=1>Shoes</option>
        </select>
      </div>

      

    </div>
  </div>
  <button (click)="addProduct()" *ngIf="prod.id == '0'" class="btn btn-primary">
    Add product
  </button>